@media all and (max-width: 1029px) {/*タブレット対応*/

h2{
    margin-top: 40px;
}

    .header-logo{
        width: 140px;
        padding-top: 13px;
        padding-left: 5px;
    }

    .header a{
        display: none;
      }

    .menu-icon{
        display: block !important;
      }

      .responsive-element{
        display: block;
        margin-top: 120px;
      }

    .area{/*ボタンの設定*/
            width: 100vw;
            padding: 10px 120px;
            font-size: 20px;
            background-color: rgb(0, 0, 0);
            color: white;
            transition: 0.4s;
    }

    .area :hover{
        
    }
}

@media all and (max-width: 670px) {/*スマホ対応*/

    .container {
        padding: 0 6px;
        margin: 0 auto;
    }

    .header-logo{
        width: 140px;
        padding-top: 18px;
    }

    .top-wrapper{
        background-image: url("./file/picture/top-image03.png");
    }

    p {
        text-align: center;
        font-size: 1rem;
        
    }
    
    ul {
        text-align: left;
        font-size: 15px;
        padding-right: 20px;
    }
    
    h1{
        font-size: 1.5rem;
        color: white;
        text-align: left;
        float: bottom;
        padding-top: 33%;
        padding-left: 20px;
        opacity: 0.7;
    }
    
    h2 {
        /*wrapperごとのサブタイトル設定*/
        padding-top: 0px;
        font-size: 30px;
    }
    
    h3 {
        padding-top: 10px;
        text-align: left;
        font-size: 18px;
    }
    
    .container {/*幅の調整*/
        max-width: 600px;
        width: 100%;
        padding: 0 15px;
        margin: 0 auto;
    }

    .element-wrapper{

    }

    .header a{
          display: none;
            }
    
          .menu-icon{
            display: block !important;
          }
    
          .top-wrapper{
            background-image: url("./file/picture/top-image03.png");
        }
    
        .btn {
            /*ボタンの設定*/
            font-size: 15px;
            margin-top: 10px;
            padding: 10px 12px;
        }

        footer p {
            /*FOLLOW OFFICIAL ACCOUNT*/
            color: black;
            font-size: 20px;
            margin-bottom: 5px;
        }

        .hinoki {
            width: 150px;
            margin-top: 0;
        }
        
        .logo {
            /*フッター用のロゴ（オリジナルロゴだとダサいので文字だけ）*/
            width: 150px;
            float: center;
            margin-top: 10px;
        }
}