@media all and (max-width: 1029px) {
    .header a{
        display: none;
      }

      .menu-icon{
        display: block !important;
      }

      .top-wrapper{
        background-image: url("./file/picture/top-image03.png");
    }
}

@media all and (max-width: 670px) {
    .header a{
        display: none;
      }

      .menu-icon{
        display: block !important;
      }

      .header-logo {
        width: 150px;
        float: left;
        padding: 10px 10px;
        top: 0;
    }

    .top-wrapper{
        background-image: url("./file/picture/top-image03.png");
    }
}