* {
    box-sizing: border-box;
  }
  
  body {/*全体の設定*/
    margin: 0;
    font-family: 游ゴシック, "Yu Gothic", "ヒラギノ角ゴ Pro W3", "ヒラギノ角ゴ W3", "Hiragino Kaku Gothic Pro", "Noto Sans JP", sans-serif;
    text-align: center;
  }
  
  a {/*紫色消し*/
    text-decoration: none;
  }

  p{
    text-align: center;
    font-size: 20px;
  }

  .container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }

  .header {/*ヘッダー全体設定*/
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    margin-bottom: 20px;
    height: 120px;
    width: 1875px;
    position: fixed;
    z-index: 10;
    border-bottom: solid 5px black;
  }
  
 .header-logo {/*ヘッダーのロゴ設定*/
    width: 300px;
    padding-right: 100px;
    float: left;
    padding: 13px 10px;
    margin-left: 20px;
 }

  .header a{
    color: rgb(0, 0, 0);
    float: right;
    margin-top: 6px;
    padding:  40px 40px;
    font-size: 20px;
  }

  .header a:hover{/*ヘッダーのリスト選択時設定*/
  border-top: solid 5px;
  padding: 35px 40px;
 }

.top-wrapper{/*ページのトップ要素*/
  height: 1100px;
  padding: 120px 0 0 0;
  /*background-image*/
  background-size: cover;
  border-bottom: solid 4px black;/*後で消す*/
}

h1{/*トップのスローガン設定（画像にする）*/
  text-align: center;
  background-color: black;
  color: white;
  writing-mode: vertical-rl;
  text-orientation: upright;
}

.top-images{/*TOPページの複数画像を毎５秒変わるように*/
  width: 1300px;
}

.slogan{/*"同志社のロケットを..."*/
  width: 180px;
  margin-right: 230px;
  float: right;
}

h2{/*wrapperごとのサブタイトル設定*/
  padding-top: 200px;
  font-size: 50px;
}

.tl{
  display: inline-block;

}


.twitter-timeline{/*ツイッターのタイムライン設定(publish.twitter.com)*/
  border: solid 4px black;
  padding: 20px 0px;
}

.instagram-timeline{
  border: solid 4px black;
}

footer{/*フッターの設定*/
  height: 350px;
  border-top: solid 5px black;
  padding: 20px 0px;
  background-color: rgb(255, 255, 255);
  text-align: center;
  display: flex;
  justify-content: center;
 }

 footer p{/*FOLLOW OFFICIAL ACCOUNT*/
  color: black;
  font-size: 30px;
 }


.btn {/*ボタンの設定*/
  border: solid 2px;
  margin-top: 25px;
  padding: 12px 30px;
  font-size: 20px;
  background-color:rgb(0, 0, 0);
  color: white;
  display: inline-block;
  border-radius: 4px;
  transition: 0.4s;
}

.btn:hover {/*ボタンを押したときの設定*/
  color: black;
  background-color: white;
}

.fa {/*fontawesomeからのTwitterとInstagramロゴ設定*/
    margin-right: 15px;
}

.logo{/*フッター用のロゴ（オリジナルロゴだとダサいので文字だけ）*/
  width: 250px;
  float: center;
 }
