* {
    box-sizing: border-box;
}

body {
    /*全体の設定*/
    margin: 0;
    font-family: 游ゴシック, "Yu Gothic", "ヒラギノ角ゴ Pro W3", "ヒラギノ角ゴ W3", "Hiragino Kaku Gothic Pro", "Noto Sans JP", sans-serif;
    text-align: center;
}

.menu-icon {
    color: rgb(0, 0, 0);
    float: right;
    font-size: 25px;
    padding: 21px 0;
    display: none !important;
  }

a {
    /*紫色消し*/
    text-decoration: none;
}

p {
    text-align: center;
    font-size: 1.5rem;
    
}

ul {
    text-align: left;
    font-size: 19px;
}

h1{
    font-size: 2.8rem;
    color: white;
    text-align: left;
    float: bottom;
    padding-top: 33%;
    padding-left: 20px;
    opacity: 0.7;
}

h2 {
    /*wrapperごとのサブタイトル設定*/
    padding-top: 50px;
    font-size: 45px;
}

h3 {
    padding-top: 20px;
    text-align: left;
    font-size: 30px;
}

.container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    /*ヘッダー全体設定*/
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    height: 10%;
    width: 100%;
    position: fixed;
    z-index: 10;
    border-bottom: solid 5px black;
}

.header-logo {
    /*ヘッダーのロゴ設定*/
    width: 180px;
    float: left;
    padding: 10px 10px;
    top: 0;
}

.header a {
    color: rgb(0, 0, 0);
    float: right;
    padding: 2.7% 2%;
    font-size: 120%;
    transition: 0.4s;
    top: 0;   
}

.header a:hover {
    /*ヘッダーのリスト選択時設定*/
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.top-wrapper {
    /*ページのトップ要素*/
    height: 970px;
    width: 100%;
    padding: 120px 0 0 0;
    background-image: url("./file/picture/top-image02.png");
    background-size: cover;
    border-bottom: solid 4px black;/*後で消す*/
}

.element-wrapper {
    text-align: center;
    padding: 100px 0 0 0;
}

.wrap {
    padding: 120px 0 0 0;
    width: 100%;
}

footer {
    /*フッターの設定*/
    height: 350px;
    border-top: solid 5px black;
    margin-top: 100px;
    padding: 20px 0px;
    background-color: rgb(255, 255, 255);
    text-align: center;
}

footer p {
    /*FOLLOW OFFICIAL ACCOUNT*/
    color: black;
    font-size: 30px;
    margin-bottom: -10px;
}

.flex {
    display: flex;
    padding-left: 55px;
}

.flex a {
    padding-top: 60px;
}

.btn {
    /*ボタンの設定*/
    border: solid 2px;
    margin-top: 25px;
    padding: 12px 30px;
    font-size: 20px;
    background-color: rgb(0, 0, 0);
    color: white;
    display: inline-block;
    border-radius: 4px;
    transition: 0.4s;
}

.btn:hover {
    /*ボタンを押したときの設定*/
    color: black;
    background-color: white;
}

.fa {
    /*fontawesomeからのTwitterとInstagramロゴ設定*/
    margin-right: 15px;
}

.hinoki {
    width: 250px;
    margin-top: 20px;
}

.logo {
    /*フッター用のロゴ（オリジナルロゴだとダサいので文字だけ）*/
    width: 250px;
    float: center;
    margin-top: 10px;
}